.header{
    background-color: brown;
    height : 100px;
    width : 100vw;
    margin-top : -20px;
}
.header h2{
    color : white;
    position: absolute;
    left : 150px;
    top : 3px;
}

.images img{
    height : 300px;
  width : 100vw;
    object-fit: cover;
}
