.header{
    background-color: brown;
    height : 140px;
    width : 100vw;

    position: fixed;
    bottom: 650px;
    margin: 0%;
}
.header h2{
    color : white;
    position: absolute;
    left : 150px;
    top : 50px;
}

.images img{
    position: absolute;
    bottom: 400px;
    height : 250px;
  width : 100vw;
    object-fit: cover;
}
