.overlay{
    
    width : 700px;
    position : relative;
    top: 200px;
    left : 370px;
 
    border-radius: 5px;
    z-index: 1;
    background-color: white;
}
.headings{
    position: relative;
    }
    .overlay h2{
        position: relative;
        left : 30px;
    }
.overlay li {
    list-style-type: none ;
}
.headings h3{
   position: relative;
   left : 500px;
   bottom: 50px;;
}
.overlay  button{
    position: relative;
    bottom: 40px;
    left : 280px;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 10px;
}

.overlay p {
    position: relative;
    top:10px;
}